---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.data.blog %}
                    <li>
                      <a class="page-scroll" href="{{ section.href }}">
                        <span data-i18n="">{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}
                </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade centerbg" data-ride="carousel">
    <div class="slant-left"></div>
    <div class="slant-right"></div>
    <div class="focusinfo">
        <div class="header-tou">
            <a href="http://www.isunmonkey.com">
                <img src="{{ "static/img/landing/mypic.png"}}">
            </a>
        </div>
        <div class="header-info">
			 <p>大前端下的一枚小前端er,爱前端，爱生活~~</p>
         </div>
         <div class="top-social">
     		<li class="wechat"><a href=""><img src="{{ "static/img/landing/wechat.png"}}"></a>
     			<div class="wechatInner">
     				<img src="{{ "static/img/landing/qrcode.png"}}" alt="微信">
     			</div>
     		  </li>
			<li>
                <a href="http://weibo.com/yumwey" target="_blank" class="social-sina" title="sina">
                    <img src="{{ "static/img/landing/sina.png"}}">
                </a></li>

			<li class="qq"><a href=""><img src="{{ "static/img/landing/qq.png"}}"></a>
     			<div class="qqInner">
     				1049818533
        		</div>
     		</li>
     		<li><a href="https://github.com/{{ site.author.github_username }}" target="_blank" class="social-bili" title="github">
                <img src="{{ "static/img/landing/github.png"}}"></a>
            </li>
            <li><a href="mailto:{{ site.author.email }}" target="_blank" class="social-bili" title="mail">
                <img src="{{ "static/img/landing/mail.png"}}"></a>
            </li>
     	  </div>
    </div>
</div>

{% for section in site.data.indexs %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
